// Icons
//
// Markup:
{{#svgs}}
// <div class="kss-icon-item"><span><img src="images/{{{fileName}}}"></span>${{{name}}}<br>{{{width}}} * {{{height}}}</div>
{{/svgs}}
// <style type="text/css">
// .kss-icon-item {display: inline-block; vertical-align: top; padding: 0 0 15px; width: 24%; text-align: center;}
// .kss-icon-item span {display: block; margin: 0 0 5px;}
// .kss-icon-item img {width: 64px; height: auto; background: #cccccc; vertical-align: top;}
// </style>
//
// Styleguide 1
{{#svgs}}
${{{name}}}: ('{{{inline}}}', {{width}}, {{height}});
{{/svgs}}

@function create-svg($name, $fill-color) {
    $path: nth($name, 1);
    $w: nth($name, 2);
    $h: nth($name, 3);

    $fill-color: str-slice(inspect($fill-color), 2);
    $fill-color: '%23' + $fill-color;
    $icon: 'data:image/svg+xml;charset=utf8,%3Csvg xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22 version%3D%221%22 width%3D%22#{$w}%22 height%3D%22#{$h}%22 viewBox%3D%220 0 #{$w} #{$h}%22%3E%3Cpath fill%3D%22#{$fill-color}%22 d%3D%22#{$path}%22%2F%3E%3C%2Fsvg%3E';
    @return $icon;
}

@mixin inline-svg-mono($name, $fill-color: #000) {
    $svg: create-svg($name, $fill-color);
    background: transparent url($svg) no-repeat 50% 50%;
    background-size: 100%;
}

@mixin inline-svg-multi($name) {
    $svg: nth($name, 1);
    background: transparent url($svg) no-repeat 50% 50%;
    background-size: 100%;
}
